.errorContainer{
    margin: 30px 90px;
    text-align: center;
    margin-top: 186px;
}

/* Format du texte */
.errorNumber, .errorText, .fontLink{
    font-style: normal;    
    color: #FF6060;
}

.errorNumber{
    font-weight: 700;
    font-size: 288px;
}

.errorText{
    font-weight: 500;
    font-size: 36px;
    position: relative;
    bottom: 270px;
}

.errorLink{
    padding-top: 15px;
    padding-bottom: 15px;
}

.fontLink{
    font-weight: 500;
    font-size: 18px;
}

@media screen and (min-width:377px) and (max-width:750px){
    .errorContainer{
        margin: 20px 20px;
    }
    
    .errorNumber{
        font-size: 180px;
    }

    .errorText{
    position: relative;
    bottom: 200px;
    }
}


@media screen and (max-width: 376px) {
    .errorContainer{
        margin: 20px 20px;
    }

    .errorNumber{
        font-size: 96px;
    }
    
    .errorText{
        width: 250px;
        font-size: 18px;
        position: relative;
        bottom: 90px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .fontLink{
        font-size: 14px;        
    }

    .errorLink{
        margin-bottom: 150px;
    }
}