.accomodationBody{
    margin: 30px 90px;
}

.accomodationInfos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

/* Format du texte */
.accomodationTitle, .accomodationLocation, .profilName{
    font-style: normal;
    font-weight: 500;
    color: #FF6060;
}

.accomodationTitle{
    font-size: 36px;
}

.accomodationLocation, .profilName{
    font-size: 18px;
}

/* Information du profil */
.hostInfo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profilName{
    width: 93px;
}

.profilPic{
    width: 64px;
    height: 64px;
    object-fit: contain;
}

.pictureBackground{
    background: gainsboro;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
}

/* Collapse */
.accomodationCollapse{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.accomodationDescription, .facilities{
    width: 49%;
}

@media screen and (min-width:377px) and (max-width:768px){
    .accomodationBody{
        margin: 20px 20px;
    }

    .accomodationInfos{
        display: flex;
        flex-direction: column;
        align-items: normal;
        margin-bottom: 0px;
    }

    .host{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .accomodationCollapse{
        display: flex;
        flex-direction: column;
    }

    .accomodationDescription, .facilities{
        width: 100%;
    }
}

@media screen and (max-width:376px){
    .accomodationBody{
        margin: 20px 20px;
    }

    .accomodationInfos{
        display: flex;
        flex-direction: column;
        align-items: normal;
    }

    .accomodationTitle{
        font-size: 18px;
    }
    
    .accomodationLocation{
        font-size: 14px;
    }
    
    .profilName{
        font-size: 12px;
    }

    .host{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .hostInfo{
        align-items: center;
    }

    .profilPic, .pictureBackground{
        width: 32px;
        height: 32px;
    }

    .accomodationCollapse{
        display: flex;
        flex-direction: column;
    }

    .accomodationDescription, .facilities{
        width: 100%;
    }
}